.followerCardContainer {
  background: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;

  img {
    width: 150px;
    height: 150px;
    margin: 0px 50px 0px 50px; 
  }
}